# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 3185cbd76613f644fc05d42ccb62fbd343b15ad7575c76149c5d02b3ba50ae6a2a8646e939ff2a5b054ab43b3dfa94a90741869bb921e849c00b71a0651f6c97
  jwt: 3185cbd76613f644fc05d42ccb62fbd343b15ad7575c76149c5d02b3ba50ae6a2a8646e939ff2a5b054ab43b3dfa94a90741869bb921e849c00b71a0651f6c97

test:
  secret_key_base: dec71463b33fae6c9a0a8f9efc356511e04cf5f44dac466b1a2945e1d2cc7210a56a5539880a83ed5133cbd2d5c42c6aec53ec9e09cce14dc9e64b91cd1fba7d
  jwt: dec71463b33fae6c9a0a8f9efc356511e04cf5f44dac466b1a2945e1d2cc7210a56a5539880a83ed5133cbd2d5c42c6aec53ec9e09cce14dc9e64b91cd1fba7d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  jwt: <%= ENV["JWT"] %>
